.submitButton{
    font-weight: 400;
    width: 100px;
    text-transform: capitalize;
    padding: 4px 20px;
    text-align: center;
    font-size: 14px;
    display: inline;
    border: none;
    border-radius: 5px;
    background-color: hotpink;
}