li{

  h3{
    font-size: 19px;
    text-transform: capitalize;
  }
  p{
    font-size: 14px;
  }
}
.item {
  border: 1px solid lightgray;
  background-color: whitesmoke;
  width: 200px;
  padding: 10px;
  list-style: none;
  text-align: center;
  box-shadow: rgba(105, 105, 105, 0.4) 0 0 5px 0.1px;
  justify-self: center;
}
.completed_item {
  justify-self: center;
  background-color: rgba(144, 238, 144, 0.482);
  border: 1px solid lightgray;
  width: 200px;
  padding: 10px;
  list-style: none;
  text-align: center;
  box-shadow: rgba(105, 105, 105, 0.4) 0 0 5px 0.1px;
}

.buttons {
  button {
    margin: 0 10px;
    padding: 3px 5px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 300;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
}
.done_buttons {
  background-color: navy;
}
.undone_buttons {
  background-color: green;
}
.remove_buttons {
  background-color: darkred;
}
.border {
  border-bottom: lightgray 0.5px solid;
  border-top: lightgray 0.5px solid;
  padding: 5px 0;
}
